p {
  font-size: x-large;
}
img {
  width: 570px;
}

.body {
  border: 2px solid black;
  width: 570px;
  margin: auto;
}

.h1-01 {
  color: #ff6701;
}

.main {
  margin: 10px;
}

h2 {
  color: #5fff29;
}
