.body {
  padding: 15px;
  margin: 10px;
  gap: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #f4f8f6;
  width: 910px;
  margin: auto;
}

.div-01 {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 290px;
  display: inline-block;
}
.div-02 {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 290px;
  display: inline-block;
}
.div-03 {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 290px;
  display: inline-block;
}

h3 {
  color: #1fceff;
}
