body {
  font-family: cursive;
  background-color: #c7c8c9;
}

.body {
  position: relative;
  width: 440px;
  height: 550px;
  border-radius: 20px;
  margin: auto;
}

.header {
  text-align: center;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 110px;
  background-color: #3bffef;
  font-size: 95%;
}
.main {
  background-color: #fff;
  height: 450px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.p-01 {
  margin: 30px;
  font-size: x-large;
}

h2 {
  width: 200px;
  position: absolute;
  left: 100px;
  bottom: 5px;
  padding: 10px;
  border-radius: 25px;
  background-color: #3bffef;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  position: absolute;
  top: -15px;
  right: 5px;
  border: 1px solid;
  border-radius: 15px;
  background-color: red;
  padding: 5px;
}

b {
  color: #16d623;
}

.h2-01 {
  background-color: #fff;
}
