body {
  font-family: Arial, sans-serif;
  padding-top: 50px;
  background-color: #c2c1c1;
  height: 10px;
  border-radius: 5px;
  width: 100%;
}

.card {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #cccccc;
  border-radius: 15px;
  padding: 20px;
  position: relative;
  background-color: #fff;
}

.status-badge {
  display: inline-block;
  background-color: #fff1d7;
  color: #bf812d;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  right: 0;
}

.info-row {
  margin-top: 15px;
  margin-bottom: 15px;
}

.progress-title {
  color: #777777;
  margin-bottom: 15px;
}

.icon {
  color: #777777;
}

.progress-label {
  font-weight: bold;
  margin-bottom: 15px;
}

.progress-container {
  background-color: #dbd7d7;
  height: 10px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

.progress-label {
  background-color: #00e600;
  height: 10px;
  border-radius: 5px;
  width: 70%;
}
.date {
  color: #777777;
  margin-top: 10px;
}
