* {
  margin: 0;
  padding: 0;
  width: auto;
  box-sizing: border-box;
}

body {
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 50px;
  margin-top: 50px;
}

.container {
  text-align: center;
  width: 470px;
  height: 680px;
  border: 1px solid black;
}

.title {
  margin-top: 35px;
  color: #32815e;
  margin-bottom: 20px;
}
.form {
  text-align: left;
  margin-left: 20px;
}
.h3 {
  color: #13545c;
}

input {
  width: 440px;
  height: 30px;
  margin-bottom: 20px;
}

select {
  width: 412px;
  height: 30px;
  margin-bottom: 20px;
}

textarea {
  width: 440px;
  height: 150px;
  margin-bottom: 20px;
}

button {
  width: 340px;
  height: 50px;
  background-color: #0ea5a4;
  color: white;
  border: 1px solid transparent;
  border-radius: 10px;
}
